@golden: #b7a064;

.radio {
	margin: 0;
	label {
		padding: 5px;
		color: @golden;
		border-radius: 3px;
		text-align: center;
		& h4 {
			margin-bottom: 0;
		}
	}
	& input[type=radio] {
		display: none;
	}
	& input[type=radio]:checked + label {
		background: lighten(@golden, 10%);
		color: #fff;
	}
}
h1 {
	color: darken(@golden, 20%);
	font-weight: lighter;
}
h3 {
	color: @golden;
	font-weight: lighter;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		top: 50%;
		background: lighten(@golden, 25%);
		margin-left: 10px;
	}
}
.title {
	height: 57px;
}